
.form-wrapper {
    
}

.form-row-wrapper {
    border: 1px solid green;
}

.form-element {
    margin: 5px;
}

.form-header {
    font-size: 1.2em;
}

.form-label {
    font-size: 1em;
}

input:focus {
    outline: none;
}

.form-input-error {
    border: 1px solid red;
}